{% extends 'data/base.html' %}
{% load static %}

{% block pagestyles %}
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="{% static '/assets/pages/css/blog.min.css' %}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
{% endblock pagestyles %}

{% block headerpageplugins %}
{% endblock headerpageplugins %}
{% block newplugins %}
<link href="{% static 'data/css/issuedetails.css' %}" rel="stylesheet" type="text/css" />
{% endblock newplugins %}
{% block content %}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-green">
                            <i class="icon-logout font-green"></i>
                            <span class="caption-subject bold uppercase"> Issue Spare</span>
                        </div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn btn-sm red" href="{% url 'data:view' %}{{ spare.pk }}">Back</a>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-sm green" id="button_issue">Issue</a>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body form">
                        <form role="form" id="form_issue" method="POST" action="{% url 'data:issue' %}{{ spare.pk }}/">
                            {% csrf_token %}
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group form-md-line-input form-md-floating-label implabel"
                                            id="div_username">
                                            {{ form.username }}
                                            <label class="form_control_1">{{ form.username.label }}</label>
                                            <span class="help-block" id="span_username">Select the user...</span>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group form-md-line-input form-md-floating-label implabel"
                                            id="div_quantity_issued">
                                            {{ form.quantity_issued }}
                                            <label class="form_control_1 ">{{ form.quantity_issued.label }}</label>
                                            <span class="help-block" id="span_quatity_issued">Quantity issued to the
                                                selected user...</span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-md-line-input form-md-floating-label implabel"
                                            id="div_remarks">
                                            {{ form.remarks }}
                                            <label class="form_control_1 ">{{ form.remarks.label }}</label>
                                            <span class="help-block" id="span_remarks">Reason to issue the
                                                spare...</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END SAMPLE FORM PORTLET-->

                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-green">
                            <i class="icon-settings font-green"></i>
                            <span class="caption-subject bold uppercase">Spare Details</span>
                        </div>
                    </div>

                    <div class="portlet-body form">
                        <form role="form" id="spare_details">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-8">

                                        <div class="row form-group">
                                            <label class="col-md-6 control-label">Class of Spares</label>
                                            <label class="col-md-6 control-label">Name of Equipment/ Fitting/
                                                Valve</label>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" value="{{ spare.spare_class }}">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control"
                                                    value="{{ spare.equipment_class }}">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-md-12 control-label">Spare Description</label>
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" value="{{ spare.description }}">

                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-md-6 control-label">Pattern Number</label>
                                            <label class="col-md-3 control-label">Category</label>
                                            <label class="col-md-3 control-label">Critical</label>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control"
                                                    value="{{ spare.pattern_number }}">
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" value="{{ spare.category }}">
                                            </div>
                                            <div class="col-md-3">
                                                {% if spare.critical %}
                                                <input type="text" class="form-control" value="YES">
                                                {% else %}
                                                <input type="text" class="form-control" value="NO">
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <label class="col-md-6 control-label">Denomination</label>
                                            <label class="col-md-3 control-label">Quantity Authorised</label>
                                            <label class="col-md-3 control-label">Quantity Held</label>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control"
                                                    value="{{ spare.denomination }}">
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control"
                                                    value="{{ spare.quantity_authorised }}">
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control"
                                                    value="{{ spare.quantity_available }}">
                                            </div>
                                        </div>



                                    </div>

                                    <div class="col-md-4">
                                        <div class="row form-group">
                                            <label class="col-md-12 control-label">Image</label>
                                            <div class="col-md-12">
                                                {% if spare.image %}
                                                <div class="fileinput-new thumbnail" style="height: 312px;">
                                                    <img src="{{ spare.image.url }}" style="width: 100%; height: 100%;">
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>
{% endblock content %}

{% block footerpageplugins %}
{% endblock footerpageplugins %}

{% block pagescripts %}
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static 'assets/pages/scripts/form-samples.min.js' %}" type="text/javascript"></script>
<script src="{% static 'data/js/issuedetails.js' %}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
{% endblock pagescripts %}