.table-columns {
    background-color:#f7f2e1;
   
}
.table-row{
    cursor:pointer;    
    border: 1px solid #cbc2b4;
    background-color:#f1f5d3;
    text-align: left;
    opacity: 0.75;

 }
  .table-row:hover{
    opacity: 1;
    color: #000;
    font-weight: bold;
    background-color:#dededc;
    font-size:90%;
    line-height: 40px;
}

.table-columns th{
text-align: capitalize;
}

.table-row td {
    text-transform:uppercase
}

.portlet {
    margin-top: -20px;
    margin-bottom: 25px;
    padding: 0;
    border-radius: 2px;
}